<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
</head>
<body>
  <div th:if="${param.error}">
    Invalid username and password.
  </div>
  <div th:if="${param.logout}">
    You have been logged out.
  </div>
  <form th:action="@{/auth/registration}" role="form" method="post" th:object="${user}">
    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <span style="color:red" class="field-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
    <br/>
    <label for="login">Введите логин: </label>
    <input type="text" th:field="*{login}" id="login"/>
    <span style="color:red" class="field-error" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Name Error</span>
    <br/>
    <label for="password">Введите пароль: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <span style="color:red" class="field-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</span>
    <br/>
    <input type="submit" value="Зарегистрироваться"/>
  </form>
  <span style="color:red" th:text="${errorMessage}"></span>
  <h4>Уже есть аккаунт?</h4>
  <div>
    <a th:href="@{/auth/login}" style="text-decoration: none ">
      Войти
    </a>
  </div>
</body>
</html>