<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Список задач</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <a href="#" class="navbar-brand">TM</a>
        <div class="navbar-wrap">
          <ul class="navbar-menu">
            <li><a th:href="@{/user/index}">Профиль</a></li>
            <li><a th:href="@{/user/task-list}">Все задачи</a></li>
            <li><a th:href="@{/user/party}">Участники</a></li>
            <li><a th:href="@{/user/task-form}">Создать задачу</a></li>
          </ul>
          <a th:href="@{/logout}" class="logout">Выйти</a>
        </div>
      </div>
    </nav>
    <p></p>
    <p></p>
    <table>
      <caption class="caption">
        <b>Список задач</b>
      </caption>
      <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Приоритет</th>
        <th>Дата окончания</th>
        <th>Закрыть задачу</th>
      </tr>
      <tr th:each="task : ${taskList}">
        <td th:text="${task.title}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.priority}"></td>
        <td th:text="${task.dateOfEnd}"></td>
        <td>
          <form th:action="@{/user/task-list/{id}(id=${task.getId()})}" th:method="DELETE">
            <input type="hidden" name="_method" value="delete">
            <input class="delete-button" type="submit" value="Закрыть"/>
          </form>
        </td>
      </tr>
    </table>
  </body>
</html>
